<ul class="panel_header" data-role="listview" data-icon="carat-l">
    <li><a class="close_button"></a></li>
</ul>
<div class="ui-grid-solo">
    <div class="ui-block-a">
        <p><b><%= itemName %></b> <span>$<%= price %></span></p>
    </div>
</div>
<div class="ui-grid-a">
    <div class="ui-block-a">
        <a class="close_button" data-role="button" data-theme="c" data-corners="false">Back</a>
    </div>
    <div class="ui-block-b">
        <input class="add_button" type="submit" value="Add" data-corners="false" />
    </div>
</div>
<div class="ui-grid-b">
    <div class="ui-block-a">
        <a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext"></a>
    </div>
    <div class="ui-block-b cmntyex-add_to_basket_quantity">
        qty <span class="quantity" >1</span>
    </div>
    <div class="ui-block-c">
        <a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext"></a>
    </div>
</div>
<div class="ui-grid-solo">
    <div class="ui-block-a">
        <p><%= shortDescription %></p>
    </div>
</div>
<div class="ui-grid-solo">
    <div class="ui-block-a">
        <img class="cmntyex-menu_image" src="<%= mediaURLs %>"/>
    </div>
</div>
<div class="ui-grid-solo">
    <div class="ui-block-a">
        <p><%= longDescription %></p>
    </div>
</div>
<table style="width: 100%;">
    <% _(attributes).forEach(function (value, key) { %>
        <tr>
            <td><%= key %></td>
            <td><%= value ?  "&#x2714;" : "&#x2716;" %></td>
        </tr>
    <% }) %>
</table>
