<div class="signin_alert_header" data-role="header" data-theme="a">
    <h1>Sign in required</h1>
</div>
<div role="main" class="ui-content">
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <a href="#" class="close_button" data-role="button" data-corners="false" >Cancel</a>
        </div>
        <div class="ui-block-b">
            <a href="#" class="signinalert_button" data-role="button" data-corners="false" >Sign In</a>
        </div>
    </div>
</div>
