/*
main elements
*/
#cmntyex_restaurant {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
	background: #ffffff; /* Old browsers */
}

.restaurant_gallery {
	padding: 0px;
}

.theme2_banner {
	background-color: #0D9CAC;
	border: 1px solid #212121;
	display: inline-block;
	cursor: pointer;
	color: #FFF;
	font-family: Arial;
	font-size: 24px;
	font-weight: 300;
	padding: 6px 24px;
	text-decoration: none;
	width: 100%;
}

.theme2_drive_button {;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #0D9CAC;
	border-radius: 2px;
	border: 1px solid #000000;
	color: #ffffff;
	display: inline-block;
	font-size: 1.3em;
	margin: 5px auto 5px auto;
	padding: 5px;
	text-shadow: none;
	width: 90%;
}

.theme2_drive_button a:visited {
	color: #ffffff;
}

.theme2_call_button {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #0D9CAC;
	border-radius: 2px;
	border: 1px solid #000000;
	color: #ffffff;
	display: inline-block;
	font-size: 1.3em;
	margin: 5px auto 5px auto;
	padding: 5px;
	text-shadow: none;
	width: 90%;
}

.theme2_call_button a:visited {
	color: #ffffff;
}

.theme2_background .centered_button {
	text-align: center;
}

.theme2_background a {
	color: #FFF;
	text-align: center;
	font-weight: 0100;
}

.theme2_background a:visited {
	color: #FFF;
	text-align: center;
	font-weight: 0100;
}

.theme2_short_description {
	color: #0D9CAC;
	text-align: center;
	font-weight: 300;
	font-size: 1em;
	font-style: italic;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.theme2_long_description {
	color: #0D9CAC;
	text-align: center;
	font-weight: 300;
	font-size: 12px;
	padding: 5px;
}

.theme2_promotion {
	font-family: 'open sans', arial, sans-serif;
	color: #ffffff;
	text-align: left;
	width: 100%;
	padding: 0px;
	text-shadow: none;
}

.theme2_promo_header {
	font-family: 'open sans', arial, sans-serif;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 300;
}

.theme2_promo_type {
	font-family: 'open sans', arial, sans-serif;
	color: #FFF;
	font-weight: 700;
	font-size: 12px;
}

.theme2_promotion .promo_title {
	font-family: 'open sans', arial, sans-serif;
	padding-left: 10px;
	margin: 0px;
	font-weight: 400;
	font-size: 18px;
}

.theme2_promotion .promo_description {
	font-family: 'open sans', arial, sans-serif;
	padding-left: 10px;
	margin: 0px;
	font-weight: 200;
	font-size: 12px;
}

.theme2_promotion img {
	text-align: center;
	display: block;
	padding: 0px;
	height: 100px;
}

.theme2_gallery_media {
	position: relative;
}

.theme2_gallery_media_image {
	width: 100%;
	height: 100%;
}

.theme2_gallery_table {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: rgba(60, 60, 60, 0.4);
}

.theme2_gallery_media_title {
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.4;
	font-size: 20px;
	font-weight: 200;
}

.theme2_gallery_media_message {
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.2;
	font-variant: small-caps;
	font-size: 14px;
	font-weight: 200;
}

.theme2_filler {
	height: auto;
}

.theme2_gap {
	height: 5px;
	width: 100%;
}

.theme2_text {
	color: #000000;
	line-height: 1.2;
	font-family: 'open sans', arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding-left: 5px;
}

.theme2_bold_text {
	color: #000000;
	line-height: 1.2;
	font-family: 'open sans', arial, sans-serif;
	font-size: 12px;
	font-weight: 700;
	padding-left: 5px;
}

.theme2_aboutuslong {
	color: #000000;
	line-height: 1.2;
	font-family: 'open sans', arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding-left: 15px;
}

.theme2_pleasesigninforloyaltycard {
	color: #F00;
	line-height: 1.2;
	font-family: 'open sans', arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.theme2_table_center {
	margin-left: auto;
	margin-right: auto;
}

.theme2_loyaltystatus {
	color: #0D9CAC;
	line-height: 1.2;
	font-family: 'open sans', arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}

.theme2_values {
	color: #0D9CAC;
	line-height: 1.2;
	font-family: 'open sans', arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding-left: 5px;
}

.theme2_values_centered {
	color: #0D9CAC;
	line-height: 1.2;
	font-family: 'open sans', arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}

.theme2_address {
	color: #000;
	line-height: 1.2;
	text-align: left;
	font-family: 'open sans', arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	padding-left: 5px;
}

.theme2_notification {
	background: #F00;
	background-color: #F00;
	color: #FFF;
	line-height: 1.2;
	text-align: center;
	font-family: 'open sans', arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-shadow: none;
	padding: 8px;
}

.theme2_event_banner_wrapper {
	width: 100%;
	margin: 0 auto;
	background-color: #0A7C88;
}

.theme2_event_banner_inner {
	text-align: center;
	height: 0;
	border-width: 0px 0 120px 50px;
	border-style: solid;
	border-color: transparent #0D9CAC #0D9CAC transparent;
	padding-right: 50px;
}

.theme2_event_banner_table {
	height: 120px;
	width: 100%;
	overflow: hidden;
}

.theme2_event_banner_large_font {
	color: #FFF;
	font-size: 28px;
	line-height: 24px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	padding-top: 0px;
	padding-bottom: 0;
	vertical-align: bottom;
	text-shadow: none;
}

.theme2_event_banner_small_font {
	line-height: 28px;
	font-size: 16px;
	font-family: 'Open Sans';
	color: #000;
	vertical-align: top;
	text-shadow: none;
	font-style: normal;
	font-weight: 400;
}

.theme2_event_entry_wrapper {
	width: 100%;
	padding: 0px;
	font-family: "Arial";
	font-weight: 300;
	color: #FFF;
	text-shadow: none;
}

.theme2_event_entry_left {
	width: 13%;
	padding: 2px;
	vertical-align: middle;
}

.theme2_event_entry_left_table {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

.theme2_event_entry_left_top_row {
	margin-top: 0px;
	font-size: 12px;
	text-align: center;
}

.theme2_event_entry_left_middle_row {
	font-size: 36px;
	text-align: center;
}

.theme2_event_entry_left_bottom_row {
	font-size: 12px;
	text-align: center;
}

.theme2_event_entry_img_right {
	width: 87%;
	padding: 0px;
	text-align: left;
	vertical-align: top;
}

.theme2_event_entry_right {
	width: 87%;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

.theme2_event_entry_right_table {
	color: #000;
	margin-left: 5px;
	margin-right: auto;
	vertical-align: top;
}

.theme2_event_entry_right_top_row {
	margin-top: 0px;
	font-size: 12px;
	vertical-align: bottom;
}

.theme2_event_entry_right_middle_row {
	font-size: 18px;
	vertical-align: top;
}

.theme2_event_entry_right_bottom_row {
	font-size: 12px;
	vertical-align: top;
}

.theme2_event_entry_img img {
	padding: 0px;
	height: 100px;
	vertical-align: top;
}

.theme2_event_entry_wrapper {
	border-width: 1px;
	border-spacing: 0px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	-moz-border-radius:;
}

#theme2_map {
	width: 100% x;
	height: 240px;
}

.theme2_generic_banner{
	width: 100%;
	height:60px;
	line-height:60px;
	margin: 0 auto;
	background-color: #888;
	text-align:center;
 	font-size: 28px;
	font-family: 'Open Sans';
	color: #FFF; 
	text-shadow: none;
	font-style: normal;
	font-weight: 400; 
}
	
 
.background_undefined {
	background-color: #666;
}

.background_activity {
	background-color: #689f38;
}

.background_dinner_deal {
	background-color: #9c2780;
}

.background_discount {
	background-color: #ff5252;
}

.background_entertainment {
	background-color: #448aff;
}

.background_happy_hour {
	background-color: #f57c00;
}

.background_other {
	background-color: #795548;
}