body, html {
	background: #222;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff')
		format('woff');
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ui-mobile-rendering>* {
	visibility: visible;
}

.ui-popup {
	border-radius: 2px;
}

.ui-popup .ui-content {
	padding: 10px;
}

.cmntyex_promotion_nopadding {
	margin: -10px;
}

.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 250ms !important;
	-moz-animation-duration: 250ms !important;
}

.ui-page {
	padding-top: 92px !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	min-height: 100% !important;
}

.button {
	margin: 0 2px;
	border: 0;
	border-radius: 2px !important;
	padding: 0.8em 1.2em;
	font-size: 0.8em !important;
}

.icon_button {
	border: none;
	border-radius: 2px !important;
	padding: 0.26em !important;
	margin: 0 2px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.error {
	color: #f00;
}

.ui-header .ui-btn-icon-top {
	padding-top: 3em;
}

.ui-header .ui-btn-icon-top:after {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0;
	background-size: 24px 24px;
	margin-top: 4px;
	height: 24px;
	width: 24px;
}

.ui-mobile-viewport>.ui-header {
	background: #333;
	/* height: 92px; */
	border: none !important;
}

.ui-header .restaurant_logo a {
	padding: 4px 0 0 0;
}

.cmntyex-header_logo {
	text-align: center;
	margin: 0 !important;
}

.cmntyex-logo_header_back {
	box-sizing: border-box;
	width: 20%;
	display: inline-block;
	text-align: center;
}

.cmntyex-logo_header_image {
	width: 78%;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
}

.ui-navbar .ui-btn {
	border-style: none;
	color: white;
	text-align: center;
	text-shadow: none;
}

.signin_alert_header h1, .reservation_message_header h1 {
	margin: 0 10% !important;
}

#cmntyex_x_map {
	position: fixed !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cmntyex-map-marker-label {
	display: none;
}

.label .cmntyex-map-marker-label {
	display: block;
	background: white;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	padding: 4px 7px;
	width: 85px;
	position: relative;
	bottom: 41px;
	right: 30px;
	margin: 0;
	height: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cmntyx-map_placeholder {
	height: 350px;
}

.cmntyx-map_wrapper {
	position: relative;
}

.cmntyx-crosshair {
	background: red;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: -7px;
	margin-left: -7px;
	top: 50%;
	height: 14px;
	width: 14px;
}

.ui-listview>.ui-li-static.ui-li-has-icon.cmntyex_legend_item {
	padding-left: 1em;
}

.ui-listview>.ui-li-has-icon>img:first-child.cmntyex_legend_icon {
	position: absolute;
	right: .625em;
	left: initial;
	top: .4em;
	max-height: 2em;
	max-width: 2em;
}

.cmntyex_legend_image {
	max-width: 270px;
	margin-left: -15px;
}

.ui-listview .cmntyex-flipswitch {
	float: left;
	width: 20%;
	margin: .5em 2% 0 0;
}

/*.ui-loader { display: none; }
.ui-loading .ui-loader { display: none; } */
.ui-loading .ui-loader span:before {
	content: "";
	display: block;
	background: red;
	/*background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 1px;
	position: fixed;
	opacity: 0;
	z-index: 1001;
}

.panel_header a {
	border: none !important;
	height: 19px;
	margin-top: -17px !important;
}

.ui-panel.ui-panel-open {
	position: fixed;
}

.ui-panel-inner {
	position: absolute;
	top: 1px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.ui-panel-inner>.ui-listview {
	margin: 0 -15px;
}

.ui-listview .ui-flipswitch {
	float: right !important;
}

.cmntyex-editpanel-buttons {
	margin: 0 -16px;
}

.cmntyex-editpanel-buttons .ui-btn {
	margin: 0;
	border-top: none;
	border-right: none;
}

.ui-bar {
	text-align: center;
}

.logo {
	line-height: 38px;
}

.cmntyex-root-page {
	text-align: center;
}

/*tileView styles*/
#cmntyex_tiles .ui-content {
	padding: 0;
}

.cmntyex_sasl_tile {
	height: 12em;
	width: 100%;
	overflow: hidden;
	color: #222;
	font-weight: normal;
	background: #e8e8e8;
	margin-bottom: 1px;
	position: relative;
	border-bottom: solid 1px #bbb;
}

.cmntyex_sasl_tile .tile_left {
	float: left;
	width: 60%;
	height: 100%;
}

.cmntyex_sasl_tile .tile_right {
	float: right;
	width: 40%;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
	text-align: right;
}

.cmntyex_sasl_tile .tile_left img {
	max-height: 100%;
	max-width: 100%;
}

.cmntyex_sasl_tile .tile_title {
	margin: 0 0 0.3em;
	font-size: 0.9em;
	line-height: 1.25;
	height: 2.5em;
	overflow: hidden;
}

.cmntyex_sasl_tile .tile_message {
	margin: 0;
	font-size: .8em;
	height: 6.2em;
	overflow: hidden;
}

.cmntyex_sasl_tile .status_icon {
	position: absolute;
	bottom: 14px;
	right: 84px;
}

.cmntyex_sasl_tile .app_icon {
	max-height: 4.5em;
	max-width: 4.5em;
	position: absolute;
	right: 0;
	bottom: 0;
}

/*restaurant list styles*/
.cmntyex-list_container {
	margin: 0 -16px;
}

.restaurant_list a {
	padding-left: 16px !important;
}

.restaurant_list .status_icon {
	position: absolute !important;
	top: 5px !important;
	right: 5px !important;
	max-height: 35px !important;
}

.restaurant_list span {
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
}

.restaurant_list .list_name {
	width: 100px;
}

.restaurant_list .list_rating {
	width: 35px;
}

.restaurant_list .list_distance {
	width: 50px;
	text-align: right;
}

.restaurant_list .list_number {
	background: white;
	text-align: center;
	font-size: 12px;
	line-height: 17px;
	position: relative;
	top: -5px;
	width: 15px;
	height: 15px;
	border: solid 1px #ccc;
	border-radius: 50%;
}

/* gallery styles */
.swipe {
	height: 100%;
	overflow: hidden;
	visibility: hidden;
	position: relative;
	padding: 0;
}

.swipe-wrap {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.swipe-wrap>div {
	float: left;
	width: 100%;
	position: relative;
}

.gallery_container {
	background-color: #222;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
}

.gallery_photo {
	width: 100%;
	height: 100%;
	background-image: url('images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.gallery_photo img {
	max-width: 100%;
	height: 100%;
}

/*opening hours*/
.cmntyex-opening-hours-title {
	margin: 0 20% !important;
}

.cmntyex-opening_hours td {
	padding: 5px 15px;
	text-transform: uppercase;
	vertical-align: top;
	color: white;
}

/* PHOTO UPLOAD */
.comntyex-upload_message_input {
	min-height: 60px;
}

.preview-container {
	width: 100%;
	height: 114px;
	text-align: center;
}

.preview {
	max-width: 100%;
	max-height: 114px;
}

/* REVIEW STYLES */
.cmntyex-content_placeholder {
	min-height: 50px;
	/* background-image: url(images/ajax-loader-white.gif); */
	background-repeat: no-repeat;
	background-position: center center;
}

.cmntyex-content_placeholder-dark {
	min-height: 50px;
	background-image: url(images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.cmntyex-review_list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.cmntyex-review {
	margin-bottom: 20px;
}

.cmntyex-review_rating {
	padding-right: 10px;
}

.cmntyex-review_text {
	margin-top: 5px;
}

.cmntyex-review_text p {
	margin: 0;
}

.cmntyex-new_content_button {
	position: fixed;
	padding: 25px 0;
	left: 0;
	bottom: 0;
	margin: 0;
}

.cmntyex-fixed_footer {
	position: fixed;
	padding: 0 8px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	background: #ccc;
}

.cmntyex-top_footer {
	position: fixed;
	padding: 0 8px;
	left: 0;
	right: 0;
	top: 91px;
	margin: 0;
	background: #ccc;
}

.comntyex-new_review_input {
	min-height: 200px;
}

.comntyex-new_rating_selection {
	background: rgb(116, 85, 79);
	height: 50px;
}

/* USER PICTURES STYLES */
.cmntyx-user_pictures {
	height: 400px;
}

/* PROMOTION STYLES */
.promotion_gallery {
	height: 405px;
	margin: 0 -10px -10px -10px;
}

.promotion img {
	max-width: 100%;
	max-height: 100%;
	min-height: 150px;
}

.promotion {
	width: 100%;
	text-align: left;
}

.promotion_content {
	border: solid 1px yellow;
}

.promotion_content .next_button, .promotion_content .prev_button {
	position: absolute;
	color: orange;
	font-size: 60px;
	cursor: pointer;
}

.promotion_content .next_button:hover, .promotion_content .prev_button:hover
	{
	color: orange;
}

.promotion_content .next_button {
	right: 20px;
	top: 85px;
}

.promotion_content .prev_button {
	left: 20px;
	top: 85px;
}

.promotion_button_group {
	position: absolute;
	width: 100%;
	bottom: 30px;
}

.cmntyex_promotion_image {
	height: 205px;
	text-align: center;
}

.cmntyex_promotion_title, .cmntyex_promotion_description,
	.cmntyex_promotion_url {
	padding: 5px 10px;
}

.cmntyex_promotion_description, .cmntyex_promotion_url {
	height: 80px;
	overflow: hidden;
}

.cmntyex_promotion_url {
	text-overflow: ellipsis;
	word-wrap: break-word;
}

.cmntyex_promotion_fineprint {
	height: 24px;
	background: white;
	overflow: hidden;
	color: black;
	text-shadow: none;
	padding: 3px;
	font-size: 10px;
}

.cmntyex_promotion_buttons_placeholder {
	text-align: center;
	height: 50px;
	overflow: hidden;
	position: relative;
}

.cmntyex-promotion_likes {
	text-align: left;
	font-size: 10px;
	padding: 0px 9px;
	position: absolute;
	bottom: 0;
	z-index: 1000;
}

.cmntyex-vote_down, .cmntyex-vote_up {
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
}

.cmntyex-vote_down {
	float: right;
}

.cmntyex-vote_up {
	float: left;
}

.cmntyex-vote_down:after, .cmntyex-vote_up:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 42px;
}

.book_now_button {
	position: absolute;
	bottom: 7px;
	left: 50%;
	width: 100px;
	margin-left: -5em;
	z-index: 1000;
}

.slider_control {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 40px;
	left: 0;
}

.control_dot {
	display: inline-block;
	margin: 0 4px 0 4px;
	height: 10px;
	width: 10px;
	background: white;
	border-radius: 50%;
}

.selected_dot {
	background: #00f;
}

.reservation_bubble {
	right: 65px !important;
}

/* restaurant styles */
#cmntyex_restaurant {
	background: white;
}

#cmntyex_restaurant .content {
	padding: 0;
	min-height: 50px;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left[data-panelid="cmntyex_menu_panel"]
	{
	left: 120px;
	right: 0;
}

#cmntyex_menu_panel {
	width: 120px;
	background: rgba(0, 0, 0, 0.8);
}

#cmntyex_menu_panel img {
	margin: 4px 9px 0 6px;
}

#cmntyex_menu_panel .disabled {
	opacity: 0.5;
}

#cmntyex_menu_panel .disabled:hover {
	cursor: default;
}

#cmntyex_menu_panel .sasl_menu_button {
	color: #bbb;
	text-shadow: none;
	font-size: 12px;
	text-align: center;
	width: 100%;
	margin-bottom: 11px;
	display: block;
}

#cmntyex_menu_panel .close_button {
	cursor: pointer;
	position: absolute;
	background: #333333;
	text-decoration: none;
	color: #cccccc !important;
	text-shadow: none !important;
	box-shadow: 5px -3px 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 2px 2px 0 0;
	padding: 10px 20px;
	top: 180px;
	left: 99px;
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.restaurant_gallery {
	list-style: none;
	margin: 0 auto;
	padding: 15px 0 0 0;
}

.restaurant_gallery img {
	/* background-image: url('images/ajax-loader-white.gif'); */
	background-repeat: no-repeat;
	background-position: center center;
}

.cmntyex-gallery-image-container {
	text-align: center;
}

.cmntyex-gallery_title {
	margin: 0 0 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.4em;
	text-align: right;
	word-wrap: break-word;
}

.cmntyex-gallery_description {
	margin: 3px 0 10px 0;
	padding-left: 10px;
	padding-right: 10px;
	word-wrap: break-word;
}

.more_button {
	z-index: 1000;
	cursor: pointer;
	background: #333333;
	text-decoration: none;
	color: #cccccc !important;
	text-shadow: none !important;
	box-shadow: 5px -3px 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 2px 2px 0 0;
	padding: 10px 20px;
	position: fixed;
	top: 180px;
	left: -20px;
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	/*
 	 added by Alamgir
 	 */
	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity = 70);
	/* Older than Firefox 0.9 */
	-moz-opacity: 0.7;
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.7;
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.7;
	zoom: 1;
}

.more_button.legend_button {
	left: -29px;
}

.restaurant_info {
	z-index: 500;
}

.off_network_restaurant {
	padding-left: 20px;
}

.off_network_restaurant dt {
	font-weight: bold;
}

.off_network_restaurant dd {
	margin: 2px 0 10px 0;
}

/* Chat Styles */
.new_message_button {
	background: #0E71F0 !important;
}

.cmntyex-message_list {
	list-style: none;
	padding: 0;
}

.chat_message {
	width: 75%;
	margin-bottom: 20px;
}

.chat_message_time_created {
	font-size: 0.8em;
	margin-bottom: 5px;
	padding-left: 15px;
}

.chat_message_body {
	background-color: #7DF13C;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}

.chat_message_body p {
	padding: 15px;
	margin: 0;
}

.chat_message_sender {
	font-size: 0.9em;
	padding-left: 15px;
}

.chat_footer {
	text-align: center;
}

.chat_message_form {
	margin: 10px;
	overflow: auto;
}

.chat_message_form .block-a {
	float: left;
	width: 75%;
}

.new_message_input {
	background: white !important;
	height: 100px !important;
}

.chat_message_form .block-b {
	float: left;
	width: 25%;
}

.chat_message.pending {
	opacity: 0.5;
}

.chat_message.restaurant {
	float: left;
}

.chat_message.restaurant .chat_message_body {
	background-color: #AFAFEB;
	float: left;
}

.chat_message.read {
	opacity: 0.5;
}

.chat_message.user {
	float: right;
}

.chat_message.user .chat_message_body {
	background-color: #7DF13C;
	float: left;
}

.chat_message.user .chat_message_sender {
	text-align: right;
}

.my_messages_body {
	margin: 5px 0 10px 0;
	font-size: 1em;
}

.ui-listview .cmntyex_notifications_header {
	background: #FFB800;
	color: white;
	text-shadow: none;
	letter-spacing: 0.05em;
}

.ui-listview .cmntyex_notifications_header:hover {
	background: #FFBE16;
	color: white;
	text-shadow: none;
	letter-spacing: 0.05em;
}

.ui-listview>li p.notificationBody {
	white-space: normal;
}

.ui-listview>li p.notification_sasl_Name {
	margin: 0;
	font-size: 0.75em;
}

/* menu styles */
.cmntyex-menu_image {
	width: 100%;
}

.cmntyex-add_to_basket_quantity {
	line-height: 44px;
	text-align: center;
}

.cmntyex-basket {
	height: 54px;
	background: rgb(202, 196, 184);
	margin-top: -17px;
	margin-left: -16px;
	margin-right: -16px;
	padding: 0 16px;
}

.cmntyex-basket_order_button {
	padding: 8px;
}

.cmntyex-catalog_header {
	text-align: center;
}

.cmntyex-header_title {
	text-shadow: none;
	text-align: center;
	line-height: 46px;
	color: black;
}

.cmntyex-subcatalog .ui-collapsible-content {
	padding: 0 .5em;
}

.cmntyex-subcatalog_title .ui-btn {
	background: transparent;
}

.cmntyex-subcatalog_title:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #49311A;
	opacity: 0.4;
	z-index: 1000;
	cursor: pointer;
}

.cmntyex-catalog {
	margin: 0 -1em !important;
}

.cmntyex-order_table {
	width: 100%;
}

.cmntyex-order_table th {
	text-align: left;
}

/* posts styles */
.cmntyex-post_header {
	width: 100%;
	overflow: hidden;
}

.cmntyex-post_sasl, .cmntyex-post_member {
	font-weight: 700;
}

.cmntyex-post_sasl {
	float: left;
}

.cmntyex-post_likes {
	float: right;
}

.cmntyex-post_member {
	margin-right: 2px;
}

.cmntyex-post_actions a {
	font-weight: normal !important;
	cursor: pointer;
}

.cmntyex-post_comments {
	border-top: solid 1px #ccc;
	margin-top: 10px;
}

/* poll styles */
.cmntyex-polloption {
	margin-top: 10px;
}

.cmntyex-polloption img {
	max-width: 30%;
}

.cmntyex-polloption-header {
	overflow: hidden;
	margin-bottom: 4px;
}

.cmntyex-polloption-header span {
	float: left;
	width: 70%;
	box-sizing: border-box;
	padding-right: 15px;
}

.cmntyex-polloption-header a {
	width: 30%;
	float: right;
	margin: 0;
	box-sizing: border-box;
}

/* contest styles */
.cmntyex-contest-name {
	font-weight: bold;
	margin-bottom: 10px;
}

.cmntyex-contest-time {
	font-size: 0.8em;
	margin-bottom: 10px;
}

.cmntyex-contest-prize {
	overflow: hidden;
	margin-bottom: 10px;
}

.cmntyex-contest-prize img {
	width: 30%
}

.cmntyex-contest-prize span {
	width: 70%;
	font-size: 0.9em;
	float: right;
	padding-left: 10px;
	box-sizing: border-box;
}
