.ui-icon-cmntyex_list:after {
    background-image: url("icons/List-View.png");
}

.ui-icon-cmntyex_favorite_yellow:after {
    background-image: url("icons/favorite-yellow.png");
}

.ui-icon-cmntyex_favorite_gray:after {
    background-image: url("icons/favorite-gray.png");
}

.ui-icon-cmntyex_favorites:after {
    background-image: url("icons/List-of-favorites.png");
}

.ui-icon-cmntyex_filter:after {
    background-image: url("icons/filter-icon.png");
}

.ui-icon-cmntyex_back:after {
    background-image: url("icons/Back_new.png");
}

.ui-icon-cmntyex_forward:after {
    background-image: url("icons/Forward.png");
}

.cmntyex-simple-header-back {
    position: absolute;
    left: 0px;
    top: -7px;
    width: 60px;
}

.ui-icon-cmntyex_map:after {
    background-image: url("icons/map_small.png");
    margin-top: 0 !important;
    height: 32px !important;
    width: 32px !important;
    background-size: 32px 32px !important;
}

.ui-icon-cmntyex_map-bottom:after {
    background-image: url("icons/map_small.png");
}

.ui-icon-cmntyex_tiles:after {
    background-image: url("icons/tiles_view.png");
}

.ui-icon-bars:after {
    background-image: url("icons/Menu.png");
}

.ui-icon-action:after {
    background-image: url("icons/Share.png");
}

.ui-icon-deals:after {
    background-image: url("icons/Promotion.png");
}

.ui-icon-cmntyex_search:after {
    background-image: url("icons/search.png");
}

.ui-icon-cmntyex_search:after {
    background-image: url("icons/search.png");
}

.cmntyex-icon {
    display: inline-block;
    height: 15px;
    width: 15px;
}

.cmntyex-icon-big {
    display: inline-block;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.cmntyex-icon-big:after, .cmntyex-icon:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.ui-icon-cmntyex_star:after {
    background-image: url("icons/star.png");
}

.ui-icon-cmntyex_half_star:after {
    background-image: url("icons/half-star.png");
}

.ui-icon-cmntyex_grey_star:after {
    background-image: url("icons/grey-star.png");
}

.ui-icon-cmntyex-like:after {
    background-image: url("icons/thumbs-up.png");
}

.ui-icon-cmntyex_about:after {
    background-image: url("icons/aboutUs.png");
}

.ui-icon-cmntyex_sign_in:after {
    background-image: url("icons/Sign_out1.png");
}

.ui-icon-cmntyex_sign_out:after {
    background-image: url("icons/Sign_in1.png");
}

.ui-icon-contest:after {
    background-image: url("icons/Poll-contest1.png");
}

.ui-icon-facebook:after {
    background-image: url("icons/facebook.png");
}

.ui-icon-twitter:after {
    background-image: url("icons/twitter.png");
}

.ui-icon-email:after {
    background-image: url("icons/email_button.png");
}

.ui-icon-sms:after {
    background-image: url("icons/sms_button.png");
}

.ui-icon-prev_item:after {
    background-image: url("icons/review_prev.png");
}

.ui-icon-next_item:after {
    background-image: url("icons/review_next.png");
}

.ui-icon-cmntyex_vote_down:after, .ui-icon-cmntyex_vote_up:after {
    background-size: auto 100%;
    background-position: 50% center;
    background-repeat: no-repeat;
    border-radius: 0;
}

.icon-cmntyex_delete:after {
    background-image: url("icons/sub_delete.png");
}

.icon-cmntyex_edit {
    cursor: pointer;
    height: 46px;
}

.icon-cmntyex_edit:after {
    background-image: url("icons/sub_edit.png");
}
