<div data-role="header" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li>
                <a data-icon="bars" class="options_button ui-nodisc-icon"></a>
            </li>
            <li>
                <a data-icon="contest" class="contest_button ui-nodisc-icon"></a>
            </li>
            <li>
                <div class="deals_button"></div>
            </li>
            <li>
                <div class="about_us_button"></div>
            </li>
            <li>
                <div class="sign_in_button"></div>
            </li>
        </ul>
    </div>
</div>