<div class="cmntyex-post">
    <div class="cmntyex-post_header">
        <span class="cmntyex-post_sasl">
            <%= saslName %>
        </span>
        <span class="cmntyex-post_likes">
            <%= likeCount %> likes
        </span>
    </div>
    <img src="<%= attachementURL %>"/>
    <p class="cmntyex-post_content">
            <%= postbody %>
    </p>
    <div class="cmntyex-post_actions">
        <a class="like_button">Like</a>
        <a class="comment_button right">Comment</a>
    </div>
    <ul class="cmntyex-post_comments">
        <% _.each(comments, function (comment) { %>
            <li class="cmntyex-post_comment">
                <p><span class="cmntyex-post_member"></span>
                <%= comment.postbody %></p>
                <img src="<%= comment.attachementURL %>"/>
            </li>
        <% }) %>
    </ul>
</div>
