<div class="slide promotion">
    <div class="cmntyex_promotion_title"><%= promotionSASLName %></div>
    <div class="cmntyex_promotion_image">
        <img src="<%= imageUrl %>">
    </div>
    <div class="cmntyex_promotion_description"><%= displayText %></div>
    <div class="cmntyex_promotion_buttons_placeholder">
        <div class="ui-grid-d">
            <div class="ui-block-a">
                <a
                    href="https://www.facebook.com/sharer/sharer.php?u=<%= window.encodeURIComponent(window.location.href + '?t=p&u=' + promoUUID) %>"
                    class="facebook_button ui-icon-facebook cmntyex-icon-big">
                </a>
            </div>
            <div class="ui-block-b">
                <a href="https://twitter.com/intent/tweet?text=<%= window.encodeURIComponent(window.location.href + '?t=p&u=' + promoUUID) %>"
                   class="twitter_button ui-icon-twitter cmntyex-icon-big"></a>
            </div>
            <div class="ui-block-c">
                <a href="mailto:?subject=&body=<%= window.encodeURIComponent(window.location.href + '?t=p&u=' + promoUUID) %>" class="ui-icon-email cmntyex-icon-big"></a>
            </div>
            <div class="ui-block-d">
                <a href="#" class="mobile_button ui-icon-sms cmntyex-icon-big"></a>
            </div>
            <div class="ui-block-e">
                <div class="cmntyex-promotion_likes"></div>
                <a href="#" class="ui-icon-cmntyex-like cmntyex-icon-big like_button"></a>
            </div>
        </div>
    </div>
    <div class="cmntyex_promotion_fineprint"><%= finePrint %></div>
</div>
