<% if (isSignedIn) { %>
    <a class="signin_button ui-nodisc-icon ui-link ui-btn ui-icon-cmntyex_sign_in ui-btn-icon-top"></a>
<% } else { %>
    <a class="signout_button ui-nodisc-icon ui-link ui-btn ui-icon-cmntyex_sign_out ui-btn-icon-top"></a>
<% } %>
