body{
	font-family:sans-serif;
	font-weight:normal;
	font-size:14px;
}

.bg_img {
	height: 758px;
	margin-left: 0px;
	margin-top: 0px;
	padding-bottom: 12px;
	padding-top: 0px;
	width: 100%;
}

iframe {
	padding-left: 240px;
	padding-right: 0px;
	padding-top: 10px;
	border: none;
}